.app {
  display: flex;
  height: 100%;

  .menu {
    flex-shrink: 0;
    overflow: hidden auto;
  }

  .rightPane {
    flex: 1;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      min-height: 70px;
      flex-shrink: 0;
      background-color: white;
      box-shadow: #09412e2e 0px 0px 8px 0px;
      display: flex;
      align-items: center;
      padding-left: 12px;
      margin-bottom: 2px;

      & > h1 {
        font-weight: 300;
        font-size: 1.6em;
      }
    }

    .content {
      flex: 1;
      min-height: 200px;
      overflow: auto;

      &.underDevelopment {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        & > .icon {
          height: 16%;
          color: #449b7d;
        }

        & > .message {
          font-size: 1.5em;
          margin-top: 0.25em;
        }
      }
    }
  }
}

body:global(.dark) .app {
  .rightPane {
    .header {
      background-color: #034630;
      box-shadow: #30725c6a 0px 0px 8px 0px;
    }

    .content.underDevelopment > .icon {
      color: #fff;
    }
  }
}
