.settings-page {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .settings-line {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 8px;

    & > label {
      padding-right: 25px;
    }

    & > select {
      width: 250px;
      flex-shrink: 1;
      padding: 3px 2px;
    }
  }
}
