.timersContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  .timersOfDay {
    background-color: white;
    margin-bottom: 25px;
    box-shadow: #09412e2e 0px 1px 2px 0px;
    padding: 12px;
    display: grid;
    grid-template-columns: auto max-content max-content max-content;
    gap: 12px 16px;
    align-items: center;

    @media screen and (min-width: 768px) {
      grid-template-columns: auto minmax(125px, max-content) minmax(100px, max-content) max-content;
      padding: 16px;
    }

    .headerDay {
      font-weight: bolder;
      font-size: 1.05em;
      grid-column: 1 / 3;
    }

    .headerDuration {
      grid-column: 3;
      justify-self: center;
    }

    .description {
      grid-column: 1;
    }

    .times {
      opacity: 0.6;
      justify-self: center;
    }

    .duration {
      justify-self: center;
    }
  }
}

body:global(.dark) .timersContent {
  .timersOfDay {
    background-color: #004630;
    box-shadow: #30725c6a 0px 1px 3px 0px; // #02281bed
  }
}
